<form
  class="d-flex flex-row bg-light rounded-4 gap-2 p-2"
  style="height: 60px; margin: 10px 10px 20px 10px"
  (submit)="sendMessage($event)"
>
  <input
    type="text"
    class="form-control border-0 bg-light flex-fill"
    placeholder="Type your message..."
    autofocus
    [formControl]="textInput"
  />
  <button
    type="submit"
    class="btn btn-dark rounded-3"
    (click)="sendMessage($event)"
  >
    <i-bs name="send"></i-bs>
  </button>
  <button
    type="button"
    class="btn btn-dark rounded-3"
    [hidden]="recording"
    (click)="startRecording()"
  >
    <i-bs name="mic"></i-bs>
  </button>
  <button
    type="button"
    class="btn btn-dark rounded-3"
    [hidden]="!recording"
    (click)="stopRecording()"
  >
    <i-bs name="stop-circle"></i-bs>
  </button>
</form>
