<div class="h-100 d-flex flex-column">
  <div class="row row-cols-2 h-100">
    <div
      *ngFor="let index of [0, 1, 2, 3]"
      class="col d-flex justify-content-center align-items-center h-50 p-0"
      [ngStyle]="{
        'border-right': index % 2 === 0 ? '1px solid lightgrey' : '',
        'border-bottom': index < 2 ? '1px solid lightgrey' : ''
      }"
      (click)="selectChat(index)"
    >
      <button [hidden]="activeChats.includes(index)" class="btn btn-light" (click)="addChat(index)">
        <i-bs name="plus-circle-fill"></i-bs>
      </button>
      <app-chat
        *ngIf="activeChats.includes(index)"
        class="w-100 h-100"
        [ngStyle]="{ 'border': selectedChat === index ? '2px blue solid' : '' }"
      ></app-chat>
    </div>
  </div>

  <app-chat-input></app-chat-input>
</div>
